window {
    margin: 0px;
    border: 2px solid #7aa2f7;

    border-radius: 14px;

    background-color: #1a1b26;
}

#input {
    margin: 10px;

    border: none;

    border-radius: 10px;

    background-color: #24283b;

    color: #c0caf5;

    padding: 10px;
}

#inner-box {
    margin: 10px;
}

#outer-box {
    margin: 10px;
}

#scroll {
    margin: 5px;
}

#entry {
    padding: 8px;
    border-radius: 8px;
}

#entry:selected {
    background-color: #7aa2f7;
    color: #1a1b26;
}

#text {
    color: #c0caf5;
}

#text:selected {
    color: #1a1b26;
}
